[Desktop Entry]
Name=gnu-pytronic
Version=0.1
Comment=pytronic is a program developed in python 3. Basically it is a basic tool for the calculation of analog components such as resistors, capacitors and inductors, also transformers.
Path=/usr/bin/
Exec=main
Icon=/usr/share/pixmaps/pytronics.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Electronics;
